pandas>=2.2
numpy>=1.26
SQLAlchemy>=2.0
psycopg2-binary>=2.9
python-dotenv>=1.0
requests>=2.31
scikit-learn>=1.4
xgboost>=2.0
lightgbm>=4.3
streamlit>=1.35
plotly>=5.22
groq>=0.9
Faker>=25.0
openpyxl>=3.1
